.Order-Page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  footer {
    margin-bottom: 0;
    box-shadow: unset;
  }
  .Section-Links, .Section-Publi {
    display: none;
  }
}

