.Footer-page-false, .Footer-page-true {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: transparent;
  color: black;
  padding: 4vmin;
  margin-top: 15vmin;
  box-shadow: inset 0 2em 3em -2.5em #F48732,
  inset 0 -2.5em 3em -2.5em #F48732;
}

.Footer-page-false {
  position: relative;
  z-index: 1;
}

.Footer-page-true {
  position: relative;
  z-index: 0;
}

hr {
  width: 50%;
  height: 1px;
  background-color: black;
}

p {
  margin: 5px;
  font-size: 12px;
}

.Link-name {
  text-decoration: none;
  color: #F48732;
}

.Section-Links {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.Link-social {
  img {
    width: 25px;
  }
}
