.footer-pages {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 20vmin;
  background-color: black;
  ul {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      padding: 0;
    }
  }
}

a {
  text-decoration: none;
}

.icon-menu {
  img {
    margin-bottom: 4px;
  }
}

.counter-car {
  display: grid;
  place-items: center;
  color: white;
  position: relative;
  background-color: red;
  border-radius: 5em;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  top: 15px;
  left: 25px;
}

.iconRote {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 15vmin;
  padding: 0px;
  margin: 0;
  img {
    width: 40px;
  }
}
