footer {
  align-items: center;
  background-color: black;
  box-shadow: 0 1em 2em 2em black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15vmin;
  padding: 4vmin;
}

.Footer-page-true {
  filter: blur(1px);
}

hr {
  background-color: white;
  height: 1px;
  width: 50%;
}

p {
  font-size: 12px;
  margin: 5px;
}

.Link-name {
  color: red;
  text-decoration: none;
}

.Section-Links {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.Link-social {
  img {
    width: 25px;
  }
}

@media screen and (min-width: 900px) {
  p {
    font-size: 18px;
  }

  .Section-Links {
    margin: 10px 0;
    width: 10%;
  }

  .Link-social {
    img {
      width: 35px;
    }
  }
}
