header {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.Header-geral-true {
  filter: blur(2px);
  opacity: .5;
}

.Header-Fixed {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: fixed;
  animation: apper 1ms ease-in-out;
  animation-timeline: view();
  z-index: 1;
  img {
    background-color: #F48732;
    width: 60px;
    border-radius: 10rem;
    margin: 10px 20px;
    border: 1px solid #F48732;
  }
  h1 {
    display: none;
  }
}

.Header-Title {
  align-items: end;
  background-color: black;
  background-image: url('../pictures/logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px;
  border-bottom: 2px solid #F48732;
  display: flex;
  height: 48vmin;
  justify-content: space-between;
  width: 100%;
  z-index: 0;
  h1 {
    font-size: 20px;
    font-weight: 900;
    margin: 0 10px;
    text-shadow: .5px .5px 1.5px black;
  };
}

.Title-profile {
  margin: 5px;
  position: relative;
  top: 50px;
}

.Section-network {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 2px 0;
  top: 10px;
  width: 60px;
}

.Btms-network {
  background-color: transparent;
  border: 0;
  padding: 0;
  img {
    margin: 0 2px;
    margin-bottom: 10px;
    width: 25px;
  }
}

.Btms-search {
  background-color: transparent;
  border: 0;
  padding: 0;
  img {
    margin: 0 5px;
    width: 25px;
  }
}

.Btms-network:active, .Btms-search:active {
  transform: scale(.9);
}

.Select-item {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-around;
  margin: 70px 0 5px;
  width: 90%;
  z-index: 0;
}

label {
  background-color: white;
  border: 1px solid #f486325d;
  color: #F48732;
  border-radius: 5px;
  font-size: 14px;
  margin: 9px;
  padding: 2px 30px;
  transition: .5s;
}

.Label-select-true {
  background-color: #F48732;
  border-color: white;
  color: white;
  transform: scale(1.1);
}

.Select-item-thow-true {
  align-items: center;
  display: flex;
  margin-bottom: 10px;
  margin-right: 4%;
  justify-content: space-evenly;
  width: 80%;
}

.Select-item-thow-false {
  transition: 0s;
  opacity: 0;
  position: absolute;
  z-index: 0;
}

.Label-select-thow-true, .Label-select-thow-false {
  padding: 1px 10px;
  margin: 0;
}

.Label-select-thow-true {
  background-color: #F48732;
  border-color: white;
  color: white;
  transform: scale(1.1);
}

input {
  display: none;
}

@keyframes apper {
  from {
    translate: 0 -2000vw;
  }
  to {
    translate: 0 0;
  }
}

@media screen and (min-width: 900px) {
  .Header-Fixed {
    background-color: black;
    box-shadow: 0px 1px 20px 5px black;
    img {
      width: 80px;
    }
    h1 {
      display: block;
      color: white;
      font-size: 40px;
    }
  }

  .Header-Title {
    background-size: 450px;
    height: 35vmin;
  }

  .Title-profile {
    margin-left: 20%;
    top: 70px;
    h1 {
      font-size: 40px;
    }
  }

  .Section-network {
    margin-right: 20%;
    width: 100px;
  }

  .Btms-network {
    margin: 5px;
    img {
      width: 35px;
    }
  }

  .Btms-network:hover {
    transform: scale(1.1);
  }

  .Select-item {
    align-items: center;
    justify-content: start;
    margin: 100px 0 10px;
    width: 50%;
    label {
      padding: 5px 40px;
    }
  }

  .Select-item-thow-true {
    align-items: center;
    justify-content: start;
    width: 45%;
    label {
      margin: 0 10px;
      padding: 5px 20px;
    }
  }

  label {
    font-size: 18px;
  }

  label:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
