header {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background-color: white;
}

.Header-geral-true {
  filter: blur(2px);
  opacity: .5;
}

.Header-Title {
  align-items: end;
  background-color: black;
  background-image: url('../pictures/logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 160px;
  border-bottom: 2px solid #ff0000;
  display: flex;
  height: 38vmin;
  justify-content: space-between;
  width: 100%;
  z-index: 0;
  h1 {
    font-size: 20px;
    font-weight: 900;
    color: #fdfdfd;
    margin: 0 10px;
    text-shadow: .5px .5px 1.5px rgb(255, 0, 0);
  };
}

.Title-profile {
  margin: 5px;
  top: 50px;
}

.Section-network {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 2px 0;
  top: 10px;
  width: 60px;
}

.Btms-network {
  background-color: transparent;
  border: 0;
  padding: 0;
  img {
    margin: 0 2px;
    margin-bottom: 10px;
    width: 25px;
  }
}

.Btms-search {
  background-color: transparent;
  border: 0;
  padding: 0;
  img {
    margin: 0 5px;
    width: 25px;
  }
}

.Btms-network:active, .Btms-search:active {
  transform: scale(.9);
}

input {
  display: none;
}

@media screen and (min-width: 900px) {
  .Header-Fixed {
    background-color: black;
    box-shadow: 0px 1px 20px 5px black;
    img {
      width: 80px;
    }
    h1 {
      display: block;
      color: white;
      font-size: 40px;
    }
  }

  .Header-Title {
    background-size: 450px;
    height: 35vmin;
  }

  .Title-profile {
    margin-left: 20%;
    top: 70px;
    h1 {
      font-size: 40px;
    }
  }

  .Section-network {
    margin-right: 20%;
    width: 100px;
  }

  .Btms-network {
    margin: 5px;
    img {
      width: 35px;
    }
  }

  .Btms-network:hover {
    transform: scale(1.1);
  }

  .Select-item {
    align-items: center;
    justify-content: start;
    margin: 100px 0 10px;
    width: 50%;
    label {
      padding: 5px 40px;
    }
  }

  .Select-item-thow-true {
    align-items: center;
    justify-content: start;
    width: 45%;
    label {
      margin: 0 10px;
      padding: 5px 20px;
    }
  }

  label {
    font-size: 18px;
  }

  label:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
