.Component-listOrder {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 10px 40px;
}

.List-Order {
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  li {
    width: 80%;
    margin: 0;
    border-bottom: 1px dotted white;
    margin-bottom: 6px;
    padding: 0;
  }
  div {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }
}

.valueAll {
  border-bottom: 1px dotted white;
  margin-bottom: 0;
}
