.Component-listOrder {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin: 10px 10px;
}

.List-Order {
  width: 100%;
  display: flex;
  align-items: start;
  flex-direction: column;
  li {
    width: 85%;
    margin: 0;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.644);
    margin-bottom: 6px;
    padding: 0;
  }
}

.Iten-value {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.Iten-name {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.CustFinally {
  display: flex;
  flex-direction: column;
  width: 40%;
  h5, h3 {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.575);
    margin: 3px 0 2px 0;
  }
  h3 {
    margin-top: 10px;
  }
}

.Tag-Item {
  color: black;
  background-color: yellow;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 9px;
}
