.Categorys {
  display: grid;
  place-items: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.Select-item {
  display: flex;
  height: 40px;
  padding-top: 10px;
  justify-content: space-around;
  width: 90%;
}

label {
  background-color: white;
  border: 1px solid #f486325d;
  color: #F48732;
  border-radius: 5px;
  font-size: 14px;
  margin: 5px;
  padding: 2px 30px;
  transition: .5s;
  height: 20px;
}

.Label-select-true {
  background-color: #F48732;
  border-color: white;
  color: white;
  transform: scale(1.1);
}

.Select-item-thow {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  justify-content: space-evenly;
  width: 70%;
  margin-right: 60px;
  padding-bottom: 10px;
}

.Label-select-thow-true {
  background-color: #F48732;
  border-color: white;
  color: white;
  transform: scale(1.1);
}

@media screen and (min-width: 900px) {
  .Select-item {
    align-items: center;
    justify-content: start;
    margin: 100px 0 10px;
    width: 50%;
    label {
      padding: 5px 40px;
    }
  }

  .Select-item-thow-true {
    align-items: center;
    justify-content: start;
    width: 45%;
    label {
      margin: 0 10px;
      padding: 5px 20px;
    }
  }

  label {
    font-size: 18px;
  }

  label:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
