.setblur-true {
  filter: blur(2px);
  opacity: .5;
}

.Section-Details-false, .Section-Details-true {
  background-color: rgba(0, 0, 0, 0.767);
  bottom: 0;
  display: grid;
  height: 100%;
  left: 0;
  margin: auto;
  place-items: center;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  div {
    color: white;
    padding: 10px;
    h4 {
      color: gold;
    }
    .Btm-fullImg {
      place-items: center;
      padding: 0;
    }
  }
}

.Section-Details-false {
  opacity: 0;
  z-index: 0;
  .IMG-Full {
    width: 200%;
  }
}

.Section-Details-true {
  opacity: 1;
  z-index: 2;
  div {
    display: grid;
    place-items: center;
  }
  p {
    font-size: 14px;
  }
  .IMG-Full {
    border-radius: 20px;
    width: 280px;
    background-color: white;
  }
}

.Icone-Close {
  margin-left: 70vmin;
  width: 40px;
}

.Btm-Close {
  background-color: transparent;
  border: 0;
  padding: 0;
}

ul {
  padding: 0;
  position: relative;
  margin: 20px 0;
  opacity: 1;
  z-index: 0;
}

.Ul-true {
  filter: blur(2px);
  opacity: .5;
  z-index: 0;
}

.Titles-Burger {
  color: gold;
  font-size: 20px;
  margin-top: 40px;
  text-align: start;
  /* text-shadow: 0px 0px 5px white; */
  /* border-top: solid 1px white; */
  /* background: linear-gradient(to bottom, transparent 0%, #ff1008 190%); */
  border-bottom: 1px solid gold;
  padding: 20px 0 5px 0;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.253);
  border-radius: 20px;
  border: 1px solid black;
  list-style: none;
  margin: 10px 10px;
  padding: 10px;
  padding-top: 0;
  h4 {
    font-size: 16px;
    color: gold;
  }
  p {
    font-size: 13px;
    margin: 0;
  }
}

.AriaButton {
  text-align: center;
  background-color: rgb(167, 0, 0);
  border: 1px solid black;
  border-radius: 10px;
}

.imgs-menu {
  background-position: center;
  background-size: cover;
  background-color: white;
  border-radius: 10px;
  height: 90px;
  position: relative;
  width: 100px;
  transition: .7s;
}

/*Carrossel Promocional */

.Container-carousel {
  position: relative;
  max-width: 99%;
  margin: 0 auto;
}

.arrow {
  display: grid;
  place-items: center;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  z-index: 1;
}

.left {
  right: auto;
  left: 0;
  background: linear-gradient(to left, transparent 0%, black 300%);
  border-radius: 20px 0 0 20px;
} 

.rigth {
  left: auto;
  right: 0;
  background: linear-gradient(to right, transparent 0%, black 300%);
  border-radius: 0 20px 20px 0;
}

.carousel {
  display: flex;
  flex-flow: row nowrap;
  gap: 10px;
  margin: 0;
  overflow-x: auto;
  z-index: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Item-Promotional {
  border: 0;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  div {
    height: 280px;
    width: 250px;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    h5 {
      margin: 0;
      background-color: black;
      padding: 0 10px 0 0;
      border-radius: 0 1em 0 0;
    }
    p {
      margin: 0;
      background-color: black;
      padding: 0 10px 0 0;
      border-radius: 0 1em 0 0;
    }
  }
}

/*===*/

.Description_Item, .Btm-fullImg {
  display: flex;
  align-items: start;
  flex-direction: column;
  background-color: transparent;
  border: 0;
  width: 60%;
}

.Description_Item {
  h3 {
    text-align: start;
  }
}

.List-ing {
  margin: 0;
  padding: 0;
  width: 90%;
}

.Ing {
  text-align: start;
  border-color: #ff0000b2;
  padding-bottom: 2px;
  font-size: 13px;
}

.Value_Sale {
  display: flex;
  align-items: center;
  width: 90%;
  height: 40px;
  margin-top: 20px;
}

.buttons-sale {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  width: 100px;
  button {
    background-color: rgba(255, 0, 0, 0.507);
    border-radius: 5px;
    padding: 0px 7px;
  }
  button:active {
    transform: scale(.9);
    color: black;
  }
  p {
    font-size: 20px;
    padding: 0 5px;
    border-radius: 1em;
  }
}

.item-buy {
  filter: drop-shadow(0px 0px 5px rgb(1, 255, 1));
  border-bottom: 2px solid green;
}

.buy {
  border: 1px solid #961212;
  background-color: #961212;
  font-size: 20px;
  color: gold;
}
.sell {
  border: 1px solid #961212;
  background-color: #961212;
  font-size: 20px;
  color: white;
}

.title-item {
  display: flex;
  align-items: center;
  width: 120%;
  color: gold;
}

.number-item {
  margin-right: 10px;
  border: 1px solid gold;
  /* background: linear-gradient(to bottom, #961212 50%, black 50%); */
  background-color: #961212;
  padding: 5px 10px;
  border-radius: 5em;
}

@media screen and (min-width: 900px) {
  .imgs-menu {
    height: 120px;
    width: 130px;
  }
  ul {
    margin: 0 25%;
    div:hover {
      background-size: 150%;
    }
  }

  li {
    padding: 20px 10px;
    p {
      font-size: 20px;
    }
    h4 {
      font-size: 20px;
    }
    button:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  h3 {
    font-size: 30px;
  }

  .Section-Details-true {
    p {
      font-size: 20px;
    }
    h4 {
      font-size: 23px;
    }
    .Icone-Close {
      width: 50px;
    }
    .Icone-Close:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    .IMG-Full {
      width: 50vmin;
    }
  }
}
