.Section-Details-false, .Section-Details-true {
  background-color: rgba(0, 0, 0, 0.767);
  bottom: 0;
  display: grid;
  height: 100%;
  left: 0;
  margin: auto;
  place-items: center;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  div {
    color: white;
    padding: 10px;
    place-items: center;
    .Btm-fullImg {
      display: grid;
      place-items: center;
    }
  }
}

.Section-Details-false {
  opacity: 0;
  z-index: 0;
  .IMG-Full {
    width: 200%;
  }
}

.Section-Details-true {
  opacity: 1;
  z-index: 1;
  p {
    font-size: 14px;
  }
  .IMG-Full {
    border-radius: 20px;
    width: 95%;
  }
}

.Icone-Close {
  margin-left: 70vmin;
  width: 40px;
}

.Btm-Close {
  background-color: transparent;
  border: 0;
  padding: 0;
}

ul {
  padding: 0;
  position: relative;
  margin: 10px 0;
  opacity: 1;
  z-index: 0;
}

.Ul-true {
  filter: blur(2px);
  opacity: .5;
  z-index: 0;
}

li {
  align-items: center;
  border-bottom: .5px solid #ff0000;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 10px 10px;
  padding: 10px;
  padding-top: 0;
  h4 {
    font-size: 16px;
    color: rgb(202, 0, 0);
  }
  p {
    font-size: 13px;
    margin: 0;
  }
}

ul div {
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  height: 90px;
  margin: 0 10px 0 0;
  position: relative;
  width: 100px;
  transition: .7s;
}

.Description_Item, .Btm-fullImg {
  display: flex;
  align-items: start;
  flex-direction: column;
  background-color: transparent;
  border: 0;
  width: 60%;
}

.Description_Item {
  text-align: start;
}

.Value_Sale {
  display: flex;
  align-items: center;
  width: 90%;
  height: 40px;
  margin-top: 20px;
  button {
    background-color: rgba(255, 0, 0, 0.507);
    border: 1px solid rgb(241, 241, 241);
    border-radius: 5px;
    padding: 4px 15px;
    color: rgb(255, 255, 255);
    margin-left: 40px;
  }
  button:active {
    transform: scale(.9);
    color: black;
  }
}

h3 {
  text-align: center;
}

@media screen and (min-width: 900px) {
  ul {
    margin: 0 25%;
    div {
      height: 120px;
      width: 130px;
    }
    div:hover {
      background-size: 150%;
    }
  }

  li {
    padding: 20px 10px;
    p {
      font-size: 20px;
    }
    h4 {
      font-size: 20px;
    }
    button:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  h3 {
    font-size: 30px;
  }

  .Section-Details-true {
    p {
      font-size: 20px;
    }
    h4 {
      font-size: 23px;
    }
    .Icone-Close {
      width: 50px;
    }
    .Icone-Close:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    .IMG-Full {
      width: 50vmin;
    }
  }
}
