.page-requests {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header-request {
  position: fixed;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.cost {
  padding: 40px 30px;
  h4 {
    margin: 0;
  }
}

.img-header {
  margin: 0px 30px;
  background-image: url('../pictures/logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
}

.list-requests {
  margin-top: 110px;
}

.request {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.sauce {
  background-color: rgba(0, 0, 0, 0.432);
  box-shadow: 1px 1px 20px black;
  border-radius: 5px;
  border-color: rgba(255, 255, 255, 0.404);
  margin-bottom: 25px;
  .imgCart {
    height: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin: 0 10px 0 0;
    position: relative;
    width: 80px;
    transition: .7s;
  }
  .item-name {
    h1 {
      font-size: 12px;
    }
  }
}

.item-request {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.item-title {
  display: flex;
  align-items: center;
  width: 70%;
}

.item-name {
  margin-left: 10px;
  width: 80%;
  h1 {
    font-size: 15px;
  }
}

.Btm-Observation-false, .Btm-Observation-true {
  background-color: transparent;
  border: none;
  color: rgb(247, 218, 89);
  padding: 0;
  margin-left: 30%;
  text-decoration: underline;
}

.Btm-Observation-true {
  color: rgb(255, 87, 87);
}

.item-obs {
  margin-top: 20px;
  background-color: transparent;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 5px;
  color: white;
  width: 99%;
  height: 80px;
  padding: 5px 10px;
}

.alertErro-List {
  color: red;
  margin-top: 40%;
  font-size: 15px;
  text-align: center;
  text-decoration: overline;
}

.RequestFooter-cart {
  display: grid;
  place-items: center;
  margin-top: 50px;
  padding-bottom: 110px;
}

.btms {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.clear-all {
  background-color: rgb(177, 4, 4);
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  border: 0;
}

.Button-ConfirmCart {
  border: 1px solid green;
  background-color: green;
  padding: 6px 15px;
  border-radius: 5px;
}

.linkOrder {
  color: white;
  text-decoration: none;
}

.imgCart {
  height: 70px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin: 0 10px 0 0;
  position: relative;
  width: 100px;
  transition: .7s;
}

