.page-requests {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.request {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-title {
  display: flex;
  align-items: center;
  width: 70%;
}

.item-name {
  margin-left: 10px;
  width: 80%;
  h1 {
    font-size: 15px;
  }
}

.imgCart {
  height: 70px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin: 0 10px 0 0;
  position: relative;
  width: 100px;
  transition: .7s;
}

