.page-requests {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.header-request {
  position: fixed;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.cost {
  padding: 40px 30px;
  h4 {
    margin: 0;
  }
}

.img-header {
  margin: 0px 30px;
  background-image: url('../pictures/logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
}

.list-requests {
  margin-top: 110px;
}

.request {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-title {
  display: flex;
  align-items: center;
  width: 70%;
}

.item-name {
  margin-left: 10px;
  width: 80%;
  h1 {
    font-size: 15px;
  }
}

.alertErro-List {
  color: red;
  margin-top: 40%;
  font-size: 15px;
  text-align: center;
  text-decoration: overline;
}

.RequestFooter-cart {
  display: grid;
  place-items: center;
  margin-top: 50px;
  padding-bottom: 110px;
}

.btms {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.clear-all {
  background-color: rgb(177, 4, 4);
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  border: 0;
}

.Button-ConfirmCart {
  border: 1px solid green;
  background-color: green;
  padding: 6px 15px;
  border-radius: 5px;
}

.linkOrder {
  color: white;
  text-decoration: none;
}

.imgCart {
  height: 70px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin: 0 10px 0 0;
  position: relative;
  width: 100px;
  transition: .7s;
}

