.footer-pages {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: 22vmin;
  background-color: black;
  ul {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    li {
      display: flex;
      flex-direction: column;
      padding: 0;
      font-size: 13px;
    }
  }
}

a {
  padding: 0;
  text-decoration: none;
}

.icon-menu {
  img {
    margin-bottom: 4px;
  }
}

.counter-car {
  display: grid;
  place-items: center;
  color: white;
  position: relative;
  background-color: red;
  border-radius: 5em;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  top: 15px;
  left: 25px;
  z-index: 1;
}

.iconRote {
  display: flex;
  align-items: end;
  justify-content: center;
  height: 13vmin;
  padding: 0px;
  margin: 0;
  img {
    width: 40px;
  }
}

.isSelectfalse {
  border-radius: 0;
  border-bottom: 0;
  img {
    filter: brightness(0) invert(.8);
  }
}

.isSelecttrue {
  border-radius: 0;
  border-bottom: 1px solid red;
  img {
    transform: scale(1.1);
    filter: drop-shadow(0 0 12px rgb(255, 0, 0))
  }
}
