.Container-carousel {
  position: relative;
  max-width: 100%;
  margin: 10px auto;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Indicative_arrow {
  display: flex;
  align-items: center;
  margin: 0;
  position: absolute;
  left: auto;
  right: 0;
  background-color: rgba(0, 0, 0, 0.37);
  padding: 15px 0 15px 5px;
  height: 90%;
  img {
    height: 30px;
  }
}

.carousel {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 5px;
  gap: 6px;
  overflow-x: auto;
  z-index: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.Logo-status {
  height: 40px;
  border-radius: 5em;
  border: 1px solid red;
}

.Header-story {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  padding: 5px;
  h1 {
    margin: 0;
    background-color: white;
    padding: 2px 20px;
    color: red;
    font-size: 15px;
    font-weight: 900;
    transform: rotate(40deg);
    text-shadow: 0 0 10px gold;
    box-shadow: 0 0 1px 10px black;
    clip-path: polygon(0% 0%, 0% 0%, 88% 0%, 104% 100%, 0% 100%);
  }
}

.Story {
  height: 250px;
  width: 150px;
  border-radius: 15px;
  background-position: center;
  background-size: cover;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding-top: 5px;
  border: 1px solid rgba(255, 0, 0, 0.39);
  h5 {
    color: white;
    margin: 0;
    width: 90%;
    padding: 5px 0;
    padding-left: 10px;
  }
}

.Item-Promotional {
  border: 0;
  margin: 0;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: transparent;
}
