.Order-Page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  footer {
    padding-bottom: 10px;
    background: linear-gradient(to bottom, transparent 0%, rgb(0, 0, 0) 50%);
    margin-bottom: 0;
    color: white;
    a {
      color: rgba(255, 255, 255, 0.61);
    }
  }
}

