*,
*:focus{outline: none}

.Form-Info {
  padding: 0 10px;
}

.Client-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.Div-form {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 25px;
  width: 80%;
}

.Data-Client {
  display: block;
  background: transparent;
  border: 0;
  border-bottom: solid 1px;
  border-color: #f10000;
  transition: all .3s ease;
  width: 80%;
  padding: 5px;
  color: white;
}

.Data-Client:focus {
  border-color: rgba(255, 0, 0, 0.753);
}

.Data-Label {
  position: absolute;
  cursor: text;
  z-index: 2;
  left: 1px;
  font-size: 12px;
  font-weight: bold;
  background: #ffffff00;
  padding: 0 5px;
  border: 0;
  color: #999;
  transition: all .3s ease;
}

.Data-Client:valid + .Data-Label{
  font-size: 11px;
  top: -17px;
  color: rgba(255, 0, 0, 0.493)
}

.Data-Client:focus + .Data-Label{
  color: rgb(255, 0, 0);
  top: -17px;
}

.Form-Payment {
  width: 100%;
}

.Payment {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding-left: 10px;
  margin-bottom: 20px;
}

.cash_clientChange {
  display: flex;
  width: 100%;
  .Div-form {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
}

.Label-pay {
  display: flex;
  align-items: center;;
  padding: 5px 10px;
  transform: scale(.9);
}

.Label-true {
  border-color: gold;
  transform: scale(1);
}

.icon_payment {
  height: 25px;
  margin-right: 5px;
}

.Checkbox {
  appearance: none;
  position: relative;
  width: 1.125rem;
  height: 1.125rem;
  margin-left: 5px;
}

.Checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.75rem;
  height: 0.75rem;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: translate(-50%, -50%) scale(0);
  transform-origin: center;
  transition: 0.125s transform ease-in-out;
  box-shadow: inset 1rem 1rem gold;
}

.Checkbox:checked {
  background-color: #000000b2;
  border-color: gold;
}

.Checkbox:checked::before {
  transform: translate(-50%, -50%) scale(1);
}

.Btm-order {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 20px;
  width: 90%;
}

.Link {
  color: black;
}

.Return {
  background-color: white;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 40px;
}


.Send-Order {
  background-color: green;
  border: solid 1px green;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
}
