.Header_hours {
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0) 40%);
  padding: 20px 0;
}

.Info_operation {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-bottom: 10px;
}

.Djob_hours, .Delivery_value {
  display: flex;
  align-items: center;
  background-color: rgba(129, 128, 128, 0.26);
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.048);
  img {
    height: 30px;
  }
}

.Djob_hours {
  text-align: start;
}

.Delivery_value {
  text-align: end;
}

.Operation {
  text-align: center;
  p {
    margin-bottom: 0;
  }
}

.Opem_status {
  width: 80px;
  margin: 2px auto;
  border: 1px solid;
  border-radius: 10px;
}
