.page-requests {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.Content_list_order {
  padding-bottom: 150px;
}

.header-request {
  position: fixed;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.cost {
  padding: 30px 30px;
  h4 {
    margin: 0;
  }
  h5 {
    margin: 3px 0 0 0;
    text-decoration: underline;
  }
}

.img-header {
  margin: 0px 30px;
  background-image: url('../pictures/logo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 70px;
}

.list-requests {
  margin-top: 110px;
}

.request {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.souce {
  background-color: rgba(0, 0, 0, 0.432);
  box-shadow: 1px 1px 20px black;
  border-radius: 5px;
  border-color: gold;
  margin-bottom: 25px;
  .imgCart {
    height: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin: 0 10px 0 0;
    position: relative;
    width: 80px;
    transition: .7s;
  }
  .item-name {
    h1 {
      font-size: 14px;
    }
  }
}

.item-request {
  display: flex;
  justify-content: space-between;
  width: 100%;
  p {
    margin: 5px;
    font-size: 17px;
  }
}

.Div_item_btns_tags {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Tags_item {
  display: flex;
  justify-content: end;
  margin-top: 5px;
}

.item_btms {
  display: flex;
  align-items: center;
  p {
    margin: 0 10px;
  }
}

.icon-bin {
  height: 20px;
}

.btn_remove {
  border-radius: 5px;
  border: 1px solid white;
}

.btn {
  display: grid;
  place-items: center;
  font-size: 18px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  border: 0;
  margin: 5px;
  padding: 0;
}

.btn:active {
  transform: scale(.9);
}

.item-title {
  display: flex;
  align-items: center;
  width: 70%;
}

.item-name {
  margin-left: 10px;
  width: 80%;
  h1 {
    font-size: 16px;
  }
}

.Btm-Observation-false, .Btm-Observation-true {
  background-color: transparent;
  border: none;
  color: rgb(247, 218, 89);
  padding: 0;
  margin-left: 30%;
  font-size: 15px;
  text-decoration: underline;
}

.Btm-Observation-true {
  color: rgb(255, 87, 87);
}

.item-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.item-obs-header {
  position: relative;
  top: 10px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Label_Item_obs {
  background-color: transparent;
  border: 0;
  margin: 0 10px;
  padding: 0;
  width: fit-content;
  color: gold;
  background-color: #191919;
}

.Btm_clear_obs {
  background-color: rgb(46, 0, 0);
  border-radius: 10px;
  border: 1px solid rgba(255, 0, 0, 0.185);
  color: rgba(255, 0, 0, 0.726);
}

.item-obs {
  background-color: transparent;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 5px;
  color: white;
  width: 90%;
  height: 80px;
  padding: 10px;
}

.List_aditional_order {
  list-style: none;
}

.Item_aditional_order {
  border: 1px solid black;
  background-color: #212121;
  border-radius: 10px;
  padding: 10px 5px;
  display: flex;
  justify-content: space-around;
}

.alertErro-List {
  color: red;
  margin-top: 40%;
  font-size: 15px;
  text-align: center;
  text-decoration: overline;
}

.RequestFooter-cart {
  display: grid;
  place-items: center;
  bottom: 0;
  background-color: rgb(19, 19, 19);
  border-bottom: 1px solid rgba(255, 255, 255, 0.164);
  position: fixed;
  padding: 15px 0;
  width: 100%;
  margin-bottom: 85px;
}

.btms {
  display: flex;
  justify-content: center;
  width: 80%;
}

.clear-all {
  display: flex;
  align-items: center;
  background-color: rgb(177, 4, 4);
  color: white;
  padding: 6px 10px;
  border-radius: 5px;
  border: 0;
  margin: 0 auto;
  .icon-bin {
    filter: invert(100%);
    -webkit-filter: invert(100%);
  }
}

.Button-ConfirmCart {
  border: 1px solid green;
  background-color: green;
  padding: 6px 15px;
  border-radius: 5px;
  margin: 0 auto;
  color: white;
}

.clear-all:active, .Button-ConfirmCart:active {
  transform: scale(.9);
}

.imgCart {
  height: 70px;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  margin: 0 10px 0 0;
  position: relative;
  width: 100px;
  transition: .7s;
}

